body {
    font-family: Arial, sans-serif;
  }
  .sair-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .seta {
    margin-right: 5px;
  }

/* botao */
.Certificados-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #FF0050, #7A358B);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* -- Certificados -- */
.Certificados {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Certificado {
    width: calc(800px - 10px);
    margin: 10px;
    padding: 15px;
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    align-items: center;
    display: flex;
  }

  .Certificado h3 {
    margin-left: 15px;
  }
  
  .Certificado h1 {
    font-size: 24px; 
    margin-bottom: 10px; 
  }
  
  .Certificado p {
    text-align: justify; /* Texto justificado */
    color: #666; /* Cor do texto */
    margin-left: 15px;
  }
  
  .Certificado img {
    max-width: 250px;
  }

  .d-flex img {
    margin: 5px;
  }

  .d-flex {
    margin-right: 10px;
    margin-left: 10px;
  }

  @media (min-width: 740px) {
    .direita {
      margin-right: 100px;
    }

    .esquerda {
      margin-left: 100px;
    }
  }
  