body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  .sair-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .seta {
    margin-right: 5px;
  }

/* botao */
.Certificados-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #FF0050, #7A358B);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* -- Certificados -- */
.Certificados {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Certificado {
    width: calc(905px - 10px);
    margin: 10px;
    padding: 15px;
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    align-items: center;
    display: flex;
  }

  .Certificado h3 {
    margin-left: 15px;
  }
  
  .Certificado h1 {
    font-size: 24px; 
    margin-bottom: 10px; 
  }
  
  .Certificado p {
    text-align: justify; /* Texto justificado */
    color: #666; /* Cor do texto */
    margin-left: 15px;
  }
  
  .Certificado img {
    max-width: 250px;
  }
  
  @media screen and (max-width: 568px) {

    .Certificado h3 {
      font-size: 17px;
    }
  
    .Certificado p {
      font-size: 9px;
    }
  
    .Certificado img {
      max-width: 150px;
    }
  
  }

  @media screen and (max-width: 420px) {

    .Certificado h3 {
      font-size: 11px;
    }
   
    .Certificado img {
      max-width: 110px;
    }
  
  }
  