body {
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  margin-bottom: 90px;
}

.profile-picture {
  margin-top: 70px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 90px;
  border: 2px solid #000000; /* Adicione um estilo de borda se desejar */
}

/* ------------------------------------------- Social Icons ------------------------------------------- */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px; /* Ajuste conforme necessário */
  height: 30px; /* Ajuste conforme necessário */
}

/* --------------------------------------------- Fim Social Icons -------------------------------------------- */


/* ----------------------------------------------- Quem Sou Eu ----------------------------------------------- */

.about-me {
  font-size: 16px;
  color: #666;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 100PX;
}

.image-container {
  margin-right: 20px;
}
img {
  width: 200px; /* Ajuste conforme necessário */
  height: auto;
}


.text-content p {
  color: #666;
  max-width: 550px;
  text-align: justify;
}
/* ------------------------------------------- Fim Quem Sou Eu ----------------------------------------------- */

/* --------------------------------------- Configuração geral de Texto --------------------------------------- */

h1 {
    text-align: center;
}

h2 {
    /* Adicione um degradê de uma cor para outra da esquerda para a direita */
    background: linear-gradient(to right, #FF0050, #7A358B); 
    -webkit-background-clip: text; /* Isso faz com que o degradê seja aplicado apenas ao texto */
    color: transparent; /* Torna o texto transparente para que o degradê seja visível */
    font-size: 50px;
    margin: 0;
  }
/* ----------------------------------- Fim Configuração geral de Texto --------------------------------------- */



/* ---------------------------------------------- Projetos ----------------------------------------------------- */

.projects__containter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  padding: 0 40px;
}

.projects__card{
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects__img{
  width: 100%;
  height: 100%;
}

:root {
  --hue: 330; /* Defina o valor de matiz em graus aqui */
}


.projects__modal{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(var(--hue), 70%, 40%, .8) 120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
}

.projects__subtitle,
.projects__button{
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects__subtitle{
  display: block;
  margin-bottom: .25rem;
}

.projects__title{
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}

.projects__button{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-meddium);
}

.projects__subtitle,
.projects__title,
.projects__button {
  color: white;
}

.projects__button i{
  font-size: 1.25rem;
}

.projects__card:hover .projects__modal{
  bottom: 0;
}

.section__title {
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
/* -------------------------------------------- Fim Projetos------------------------------------------------- */

/* -------------------------------------------- botão -------------------------------------------------------- */

.checkbox {
  display: none;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  height: 16px;
  width: 40px;

  transform: scale(1.5);

  position: fixed;
  top: 20px; /* Ajuste a distância superior conforme necessário */
  right: 70px; /* Ajuste a distância da direita conforme necessário */
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translate(0px);
  transform: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}


.BR {
  color:#FF0050;
  font-size: small;
}

.US {
  color: #FF0050;
  font-size: small;
}