body {
  font-family: 'Arial', sans-serif;
}

/* Cor Gradiant */
.rosa {
  background: linear-gradient(to right, #FF0050, #7A358B); 
  -webkit-background-clip: text; 
  color: transparent;
}

.espacAbaixo {
  margin-bottom: 50px;
}

.container {
  text-align: center;
  margin-bottom: 90px;
}

.center {
  text-align: center;
}

.profile-picture {
  margin-top: 79px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 60px;
  border: 2px solid #000000;
}

/* -- Social Icons -- */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

/* -- Quem Sou Eu -- */

.about-me {
  font-size: 16px;
  color: #666;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-container {
  margin-right: 20px;
}
img {
  width: 200px; 
  height: auto;
}


.text-content p {
  color: #666;
  max-width: 550px;
  text-align: justify;
}

@media screen and (max-width: 676px) {
  .content-section {
    flex-direction: column;
    margin: 0;
    border: none; 
  }

  .image-container {
    margin-right: 0; 
  }

  .projects__containter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects__card {
    margin: 10px; 
  }
}

/*-- Projetos -- */
.projects__containter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  gap: 2rem;
  padding: 0 180px;
}

.projects__card{
  width: 100%;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
}

.projects__img{
  width: 100%;
  height: 100%;
}

:root {
  --hue: 330; 
}

.projects__modal{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 0%,
              hsla(var(--hue), 70%, 40%, .8) 120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
}

.projects__subtitle,
.projects__button{
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects__subtitle{
  display: block;
  margin-bottom: .25rem;
}

.projects__title{
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}

.projects__button{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-meddium);
}

.projects__subtitle,
.projects__title,
.projects__button {
  color: white;
}

.projects__button i{
  font-size: 1.25rem;
}

.projects__card:hover .projects__modal{
  bottom: 0;
}

.section__title {
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

/* -- botão -- */
.checkbox {
  display: none;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3px;
  height: 19px;
  width: 31px;

  transform: scale(1.5);

  position: fixed;
  top: 25px;
  right: 70px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 15px;
  width: 15px;

  transform: translate(0px);
  transform: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(12px);
}


.BR {
  color:hsl(0, 0%, 100%);
  font-size: 12px;
}

.US {
  color: #ffffff;
  font-size: 12px;
}

.sobrepor{
  position: relative;
  z-index: 1;
}

/* -- Habilidades Técnicas -- */
.Linguagem h1 {
  margin-top: 55px;
  font-size: 24px; 
  margin-bottom: 10px;
}

.Linguagem p {
  text-align: justify; 
  color: #666; 
}

/* -- teste -- */
.descricao {
  flex-grow: 1;
}

.descricao h3 {
  margin: 0;
}

.descricao p {
  margin: 5px 0;
}

/* Estilo do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  border-radius: 25px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 900px;
}

/* Botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.MarEsqP {
  margin-left: 17px;
}

/*Estilo do Modal*/

.modal-menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.modal-menu-content {
  position: fixed;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 990px;
  background: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 30px 30px;
}


/* Menu Hamburguer */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff7f50; /* Coral color, change it as needed */
}

@media only screen and (max-width: 938px) {
  .modal-menu-content {
    width: 80%; /* Ajuste a largura conforme necessário para telas menores */
    max-width: none; /* Remove a largura máxima */
    border-radius: 50px; /* Bordas arredondadas nos quatro cantos */
    top: 40%;
  }
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  li {
    display: block;
    margin: 10px 0;
  }
}

/* modal dos projetos */

.modal-projeto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-projeto-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 80%;
  max-width: 850px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
}

.modal-projeto-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 3;
}

.modal-projeto-text {
  padding: 20px;
  background: linear-gradient(to bottom, transparent, #fff);
}

.overflow-hidden {
  overflow: hidden;
}

/*-- Bottom --*/
.fundo-Branco {
  background-color: #f8f9fa;
  width: 100%;
  padding: 20px; 
}

.social-position {
  position: absolute;
  right: 0;
  padding-top: 17px;
  padding-right: 60px;
}
