body {
  margin-top: 100px;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  margin-bottom: 90px;
}

.profile-picture {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 90px;
  margin-top: 80px;
  border: 2px solid #000000; /* Adicione um estilo de borda se desejar */
}

/* ------------------------------------------- Social Icons ------------------------------------------- */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px; /* Ajuste conforme necessário */
  height: 30px; /* Ajuste conforme necessário */
}

/* --------------------------------------------- Fim Social Icons -------------------------------------------- */


/* ----------------------------------------------- Quem Sou Eu ----------------------------------------------- */

.about-me {
  font-size: 16px;
  color: #666;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 100PX;
}

.image-container {
  margin-right: 20px;
}
img {
  width: 200px; /* Ajuste conforme necessário */
  height: auto;
}


.text-content p {
  color: #666;
  max-width: 550px;
  text-align: justify;
}
/* ------------------------------------------- Fim Quem Sou Eu ----------------------------------------------- */

/* --------------------------------------- Configuração geral de Texto --------------------------------------- */

h1 {
    text-align: center;
}

h2 {
  text-align: center;
    /* Adicione um degradê de uma cor para outra da esquerda para a direita */
    background: linear-gradient(to right, #FF0050, #7A358B); 
    -webkit-background-clip: text; /* Isso faz com que o degradê seja aplicado apenas ao texto */
    color: transparent; /* Torna o texto transparente para que o degradê seja visível */
    font-size: 50px;
    margin: 0;
  }
/* ----------------------------------- Fim Configuração geral de Texto --------------------------------------- */



/* ---------------------------------------------- Projetos ----------------------------------------------------- */

/*------- caroussel ------- */


/* -------------------------------------------- Fim Projetos------------------------------------------------- */


